<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="../static/base.css">
</head>

<body>

<div class="info">
  <div>
    <h1>STEMLINK</h1>
    <p>StemLink is a YPStem initiative, aiming to connect students to more STEM opportunities
      and to collaborate on world-changing projects.</p>
  </div>
</div>


<form class="form" action="{{ url_for('home') }}" method="post">
    <div class="username">
      <input type="text" name="email" placeholder="ENTER EMAIL" required/>
    </div>
    <div class="login">
      <input type="submit" value="JOIN THE WAITLIST">
    </div>
  </div>
</body>